.sign-in {
  margin-top: 12.5rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  .login {
    width: 30rem;
    height: 15rem;

    h2 {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    span {
      font-size: 1.1rem;
    }

    .form-inputs {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  // .sign-up {

  // }
}
