.sign-in {
  margin-top: 15rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3rem;

  .login {
    height: 15rem;

    h2 {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 0;
    }
  }

  // .sign-up {

  // }
}
