.checkout-container {
  width: 70%;
  margin-top: 10rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15rem;
  grid-template-areas:
    "one one two"
    "one one ."
    "three three ."
    "four four .";
  column-gap: 2rem;
  row-gap: 2rem;

  .cart {
    grid-area: one;
    background-color: #eee;
    h2 {
      color: black;
    }
  }

  .pay {
    grid-area: two;
    background-color: #eee;

    h2 {
      color: black;
    }
  }
}
