.checkout-container {
  width: 70%;
  margin-top: 10rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one one two"
    "one one ."
    "three three ."
    "four four .";
  column-gap: 2rem;
  row-gap: 2rem;

  .cart {
    grid-area: one;
    background-color: #eee;
    padding: 2rem;
    border-radius: 2rem;

    .cart-title {
      color: black;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }

  .pay {
    grid-area: two;
    background-color: #eee;
    height: auto;
    padding: 1.25rem;
    border-radius: 2rem;

    h2 {
      color: black;
      margin-top: -0.25rem;
      font-size: 2rem;
    }

    .payment-items {
      padding: 1rem;
      background-color: #fff;
      border-radius: 1.5rem;

      .subtotal,
      .shipment {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
      }

      .total {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }
}
