.cart-dropdown-container {
  position: absolute;
  width: 17.5rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  opacity: 0.85;
  top: 6rem;
  right: 4rem;
  z-index: 5;
  transform: scale(1, 0);
  transition: all 300ms ease;
  transform-origin: top;

  &.open {
    transform: scale(1, 1);
    transition: all 300ms ease;
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    width: 100%;
    height: 2rem;
    margin-top: auto;
    margin-left: auto;
    opacity: 0.9;
  }
}
