.sign-in-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-right: -2rem;

  .login {
    width: 30rem;
    height: 15rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 1rem;
      color: #fff;
    }

    span {
      font-size: 1.1rem;
      color: #fff;
    }

    .form-inputs {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .buttons-container {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
      }
    }
  }
}
