.shop-category-container {
  .title {
    margin: 10rem auto 0 5rem;
    font-size: 3rem;
  }

}

.category-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  margin: 5rem 5rem 5rem 25rem;
}