.sign-up-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-left: -2rem;

  h2 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
  }

  span {
    font-size: 1.1rem;
    color: #fff;
  }

  form {
    height: 25rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
