@font-face {
    font-family: "Urban Starblues Demo";
    src: local("Urban Starblues Demo"),
     url("../../assets/fonts/Urban Starblues Demo.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Bold"),
     url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;

    p {
        margin-top: 3.5rem;
        font-family: "Poppins";
        cursor: pointer;
    }
    
    .title {
        width: 20rem;
        display: inline-block;
        font-family: "Urban Starblues Demo";
        font-size: 36pt !important;
        cursor: pointer;
    }
}