.cart-icon-container {
  position: relative;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in;
  cursor: pointer;

  .shopping-icon {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-0.15rem);
  }

  .item-count {
    position: absolute;
    top: 0.2rem;
    margin-left: -0.05rem;
    font-size: 0.8rem;
    font-weight: 400 !important;
  }
}
