.checkout-item {
  background-color: #fff;
  max-width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 1.25rem;
  display: grid;
  grid-template-columns: 20% 77.5%;
  grid-template-rows: 1.2rem;
  column-gap: 0.75rem;
  grid-template-areas:
    "one two"
    "one three"
    "one four"
    "one five";

  .checkout-item-img {
    grid-area: one;
    width: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
  }

  .checkout-item-brand {
    grid-area: two;
    color: black;
    font-size: 0.9rem;
    margin-top: 0.6rem;
  }

  .name {
    grid-area: three;
    text-align: start;
    color: black;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .quantity {
    grid-area: four;
    color: black;
    font-size: 0.8rem;
    margin-top: -0.8rem;
    user-select: none;

    .minus-svg:hover {
      color: rgba(25, 59, 25, 0.7);
    }

    .qty-num-container {
      display: inline-block;
      width: 1rem;

      .qty-num {
        display: flex;
        justify-content: center;
        font-weight: 700;
      }
    }

    .plus-svg:hover {
      color: rgba(25, 59, 25, 0.7);
    }
  }

  .checkout-item-remove-price {
    grid-area: five;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.75rem;

    .remove-item {
      color: black;
      font-size: 0.8rem;
      //   margin-top: -0.6rem;
      cursor: pointer;

      &:hover {
        text-decoration-line: underline;
      }
    }

    .checkout-item-price {
      color: black;
      font-size: 0.9rem;
      font-weight: 700;
      margin-right: 0.5rem;
    }
  }
}

.checkout-item:last-child {
  margin-bottom: 0;
}
