.authentication {
  position: relative;
  margin-top: 12.5rem;
  margin: {
    left: auto;
    right: auto;
  }
  padding: 3rem;
  width: 62.5vw;
  height: 37rem;
  background-color: rgb(174, 196, 215);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;

  .username {
    position: absolute;
    top: -6rem;
    right: 2rem;
    width: 8.75rem;
    height: 2rem;
    color: rgb(49, 42, 42);
    font-size: 1.15em;
    font-weight: 700;
    border: 2px solid black;
  }
}
